{% extends 'main/login.tpl.html' %}

{% set title = page_title %}


{% block content %}

    {% import 'main/macros.tpl.html' as macro %}

    <form class="form-signin" method="post">

        {{ macro.csrf_input() }}
        <input type="hidden" name="action" value="login">

        <div class="form-group has-feedback">
            <input type="text" name="user_name" class="form-control" placeholder="{{ label_username }}" value="{{ value_user_name }}" required>
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>

        <div class="form-group has-feedback">
            <input type="password" name="user_password" class="form-control" placeholder="{{ label_password }}" required>
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary btn-block btn-flat">{{ label_login }}</button>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="checkbox icheck">
                    <label>
                        <input type="checkbox" name="user_rememberme" value="1" {{ value_rememberme }}> {{ label_remember_me }}
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 text-right">
                <a href="?action=forgot">{{ label_password_forgot }}</a>
            </div>
        </div>

    </form>

{% endblock %}